

 body h2{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    
  }

  .container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .switch button {
    margin: 5px;
    border-radius: 20px;
  }
  .switch img {
    width: 450px; 
    height: 500px;
  }

  .sadd{
    background-color: blue;
    color: white;
    padding: 10px;
  }
  .happyy{
    background-color: yellow;
    color: black;
    padding: 10px;
  }
